{% load static %}


<!doctype html>

<html>
<head>
    <title>
        </title>

</head>

<body>
    <header>
        <nav>


        </nav>
    </header>
    <main>
        <h1>Create a new task</h1>

        <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}     <!--Using form.py as content for this page-->
            <button>Create</button>
          </form>
        </div>





    </main>
    <footer>

    </footer>

</body>

</html>
