{% load static %}


<!doctype html>

<html>
<head>
    <title>
        </title>

</head>

<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
        <h1>My Tasks</h1>
        <p><a href="{% url 'create_project' %}">Create a new project</a></p>
                <table>
                <thead>
                <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
                </tr>
                </thead>
                  <tbody>
                  {% for task in task_list %}
                  <tr>
                  <td>{{ task.name }}</td>
                  <td>{{ task.start_date|date:"F j, Y" }}</td>
                  <td>{{ task.due_date|date:"F j, Y" }}</td>
                  <td>{{ task.is_completed|yesno }}</td>
                  </tr>

                  </tbody>
                </table>
                <div>
                {% empty %}
                <p>You have no tasks</p>

                {% endfor %}
            </div>
        </div>
      </main>
    <footer>

    </footer>

</body>

</html>





    <footer>

    </footer>

</body>

</html>
