{% load static %}


<!doctype html>

<html>
<head>
    <title>
        </title>

</head>

<body>
    <header>
        <nav>


        </nav>
    </header>
    <main>
    <h1>{{ project_object.name }}</h1>
    <p>{{ project_object.description }}</p>
    <p><a href="{% url 'create_task' %}">Create a new task</a></p>

<h2>Tasks</h2>


        {{ project.tasks.all|length }}



    </main>
    <footer>

    </footer>

</body>

</html>
