{% load static %}


<!doctype html>

<html>
<head>
    <title>
        </title>

</head>

<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create a new project</a></p>
                <table>
                <thead>
                <tr>
                <th>Name</th>
                <th>Number of tasks</th>
                </tr>
                </thead>
                  <tbody>
                  {% for project in project_list %}
                  <tr>
                  <td>{{ project.name }}</td>
                  </tr>
                  </tbody>
                </table>
                <div>
                {% empty %}
                <p>You are not assigned to any projects</p>

                {% endfor %}
            </div>
        </div>
      </main>
    <footer>

    </footer>

</body>

</html>





    <footer>

    </footer>

</body>

</html>
